In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('test1.csv')

      Name  Age
0   Andres   27
1  Natalia   25
2    David   25

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

24/05/06 19:51:22 WARN Utils: Your hostname, lenis-Nitro-AN515-44 resolves to a loopback address: 127.0.1.1; using 192.168.10.31 instead (on interface wlp4s0)
24/05/06 19:51:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/06 19:51:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [10]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Andres| 27|         5|
|Natalia| 25|         6|
|  David| 25|         3|
+-------+---+----------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [14]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| Andres|
|Natalia|
|  David|
+-------+

In [16]:
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
| Andres|         5|
|Natalia|         6|
|  David|         3|
+-------+----------+

In [17]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [18]:
df_pyspark.describe().show

+-------+-------+------------------+------------------+
|summary|   Name|               Age|        Experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   NULL|25.666666666666668| 4.666666666666667|
| stddev|   NULL|1.1547005383792517|1.5275252316519465|
|    min| Andres|                25|                 3|
|    max|Natalia|                27|                 6|
+-------+-------+------------------+------------------+

In [20]:
df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience'] + 2)

In [21]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
| Andres| 27|         5|                       7|
|Natalia| 25|         6|                       8|
|  David| 25|         3|                       5|
+-------+---+----------+------------------------+

In [22]:
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [24]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Andres| 27|         5|
|Natalia| 25|         6|
|  David| 25|         3|
+-------+---+----------+

In [25]:
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')

In [27]:
df_pyspark.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Andres| 27|         5|
| Natalia| 25|         6|
|   David| 25|         3|
+--------+---+----------+